<div class="kt_generic_master_container">
  <mat-card class="kt_generic_container" style="padding:0">
      <mat-card-content>
          <img style="width:100%" src="./../../../assets/images/events.png" alt="">
      </mat-card-content>
      <div class="kt_generic_title_container">
          <mat-card-title>title</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
      </div>
    <mat-card-actions class="kt_generic_btn_container">
      <button>Ok</button>
      <button>Ok</button>
      <button>Ok</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="kt_generic_container" style="padding:0">
      <mat-card-content>
          <img style="width:100%" src="./../../../assets/images/events.png" alt="">
      </mat-card-content>
      <div class="kt_generic_title_container">
          <mat-card-title>title</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
      </div>
    <mat-card-actions class="kt_generic_btn_container">
      <button>Ok</button>
      <button>Ok</button>
      <button>Ok</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="kt_generic_container" style="padding:0">
      <mat-card-content>
          <img style="width:100%" src="./../../../assets/images/events.png" alt="">
      </mat-card-content>
      <div class="kt_generic_title_container">
          <mat-card-title>title</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
      </div>
    <mat-card-actions class="kt_generic_btn_container">
      <button>Ok</button>
      <button>Ok</button>
      <button>Ok</button>
    </mat-card-actions>
  </mat-card>
  
</div>